* {
  box-sizing: border-box;
  background-color: #0a2836;
  color: #e09575;
  font-family: 'Quicksand', sans-serif;
  /* width: fit-content; */
}

.blog-body {
  position: relative;
}
.blog-title {
}

.blog-subtitle {
}

.blog-section {
}

.blog-image {
}

.home-button {
  margin: auto;
  color: #0a2836;
  height: 40px;
  width: 70px;
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10%;
  margin: auto;
  /* padding: 1rem; */
}
