* {
  box-sizing: border-box;
  background-color: #0a2836;
  color: #e09575;
  font-family: 'Quicksand', sans-serif;
  /* width: fit-content; */
}
.blog-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-main {
  position: relative;
  min-width: 350px;
  max-width: 50%;
  margin: auto;
}
.blog-title {
  border-bottom: 2px solid #e09575;
  font-weight: 700;
  text-align: center;
}

.blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-subtitle {
  text-decoration: underline;
  text-align: left;
  background-color: #051d27;
  padding: 1.1rem;
  border-radius: 5rem;
}

.blog-section p,
ul,
ol {
  font-size: 1.2rem;
  /* text-align: justify; */
  /* justify-content: center; */
}

.blog-h3 {
  text-align: left;
}

.blog-image {
  min-width: 350px;
  max-width: 90%;
  margin: 2rem;
  text-align: center;
  border-radius: 3%;
  box-shadow: -5px -5px 10px black;
  border: 2px solid grey;
}
/* .blog-section p {
    text-align: justify;
  } */
.home-button {
  color: #0a2836;
  height: 40px;
  width: 70px;
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10%;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 50px;
  box-shadow: -5px -5px 5px black;
  padding-top: 10px;
}
