* {
  box-sizing: border-box;
}

body {
  background-color: #9cced8;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0 100px;
  max-width: 90%;
  font-size: larger;
}

img {
  display: block;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 50%;
}

.browser-screenshot {
  max-width: 50%;
}

#last {
  margin-bottom: 300px;
}
