* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #201e1f;
  color: #d69f7e;
}

#left {
  width: 20%;
  float: left;
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  margin: 1px 0;
  border: 1px solid #d69f7e;
}

#nav li a {
  display: block;
  line-height: 3em;
  width: 100%;
  text-decoration: none;
}
#page-intro {
  /* display: block; */
  text-align: center;
  margin: auto;
}

/* #photo-container {
  display: inline-block;
  justify-content: center;
  justify-content: center;
 } */

#photo-container {
  text-align: center;
}

#photo-intro {
  /* display: inline-block; */
  /* justify-content: center; */
  text-align: center;
  margin: auto;
  max-width: 60%;
}

#photo-gallery {
  text-align: center;
  padding: 20px 10px;
  max-width: 1400px;
  margin: 0 auto;
}

figure {
  max-width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.caption {
  text-align: center;
}

.photo {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid whitesmoke;
  margin-bottom: 20px;
}

#link-container {
  text-align: center;
}

#link-list {
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .caption {
    display: none;
  }

  .photo {
    max-height: 200px;
  }

  #photo-intro {
    max-width: 90%;
  }

  #left {
    float: none;
    display: inline;
    margin: auto;
    width: 90%;
  }

  #nav {
    display: inline;
    margin: auto;
    padding: 5px;
    list-style: none;
    text-align: center;
  }

  #nav li {
    display: inline-block;
    margin: 1px 0;
    border: 1px solid #d69f7e;
  }

  #nav li a {
    display: inline;
    line-height: 3em;
    width: 25%;
    text-decoration: none;
  }
}

@media screen and (min-width: 889px) {
  .photo {
    max-width: 90rem;
  }
}
