* {
  box-sizing: border-box;
  background-color: #0a2836;
  color: #e09575;
  font-family: 'Quicksand', sans-serif;
}
/* html,
#index-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

a {
  color: #499792;
  text-decoration: none;
}

#index-body {
  display: grid;
  max-width: 960px;
  min-height: 100vh;
  grid-template-columns: 2fr 2fr;
  margin: 20px auto;
  /* margin-bottom: 50px; */
}

.email,
.location,
.github-link {
  margin: auto;
}

.name {
  font-size: x-large;
  margin: auto;
}

#github-logo {
  max-height: 50px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

#tree-image {
  border-radius: 10%;
  max-height: 600px;
}

#about-and-blog-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#image-caption {
  text-align: center;
  margin: auto;
}
#tree-figure {
  margin: 0;
}
.blog-links {
}

.blog-links > ul > li {
  list-style: none;
  margin: 10px 0;
}

.blog-links > ul {
  padding: 0;
}
.about {
  padding: 0 50px 0 0;
  text-align: justify;
  line-height: 1.5;
}

/* -------------blog stylings ------------------------ */

.blog-body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: center;
  /* margin: auto; */
  /* margin: auto; */
  /* text-align:; */
  font-family: 'Quicksand', sans-serif;
  max-width: 70%;
  margin-left: 100px;
}
/* .tech-blog-p {
  max-width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
} */

/* .tech-blog-h1 {
  margin: auto;
  padding-bottom: 20px;
} */
.tech-blog-img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  max-width: 50%;
  border-radius: 2%;
}

.tech-blog-h1 {
  text-align: center;
}

.tech-blog-p {
  margin-bottom: 20px;
  padding-left: 50px;
}

.home-button {
  margin: auto;
  color: #0a2836;
  height: 40px;
  width: 70px;
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10%;
  margin: auto;
  /* padding: 1rem; */
}

/* ----------- smaller screen sizes ------------------ */

@media screen and (max-width: 1000px) {
  #index-body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    /* min-height: 100vh;
    min-width: 100vw; */
    /* max-width: 90%; */
    /* margin: auto; */

    /* font-size: large; */
  }

  #tree-image {
    /* max-width: 95vw; */
  }

  .about-and-blog-links {
    max-width: 70%;
    text-align: center;
  }

  .about {
    padding: 0 45px;
    font-size: larger;
    text-align: justify;
  }

  #image-caption {
    margin-bottom: auto;
  }

  .blog-links > ul > li {
    display: inline;
    margin: 0 20px;
  }
}
